<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Port" value="7000"/>
    <add key="Ip" value="127.0.0.1"/>
    <add key="Route" value=".\FoldServer\"/>
    <add key="CountMax" value="3"/>
    <add key="ListenServer" value="100"/>
    
  
  </appSettings>
</configuration>